@media only screen and (min-width: 992px) {
  .receta {
    margin-top: -35px;
  }

  .prueba {
    margin-top: 100px;
  }

  .bg-primaryr {
    background-color: #1dc5db !important;
    height: 350px;
  }

  .receta {
    height: 300px;
  }

  #recetaback {
    height: 320px;
  }

  #tiendacerrillos {
    margin-top: 300px;
    height: 400px;
  }

  #examenback {
    height: 700px;
  }

  #tiendasanbernardo {
    height: 400px;
  }

  #boton {
    margin-bottom: 100px;
  }

    /* Estilo para el título de la sección */
    #section-title {
      font-size: 60px;
    }
}
