@media only screen and (max-width: 991px) {
    .receta {
        margin-top: -35px;
    }

    .prueba {
        margin-top: 100px;
    }

    .bg-primaryr {
    background-color: #1dc5db !important;
    height: 710px;
  }
}