@media only screen and (min-width: 490px) and (max-width: 991px) {
  .receta {
    margin-top: -35px;
  }

  .prueba {
    margin-top: 100px;
  }

  .bg-primaryr {
    background-color: #1dc5db !important;
  }

  #recetaback {
    height: 710px;
  }

  #tiendacerrillos {
    height: 815px;
  }

  #examenback {
    height: 1250px;
  }

  #tiendasanbernardo {
    height: 840px;
  }

  #boton {
    margin-bottom: 100px;
  }

  /* Estilo para el título de la sección */
  #section-title {
    font-size: 50px;
  }
}
